<h1>Best Deals on the Market</h1>
<p>{{title}} is the top destination for last-minute tickets. Prices are set by the event company and will only be at or below face value.</p>
<br>
<a href="/todo" type="button" class="btn btn-default btn-success">
  Business Partners
</a>
<a href="/event_list" type="button" class="btn btn-default btn-success">
  Find Tickets
</a>
